annotated-types==0.7.0
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
fiona==1.9.4.post1
fsspec==2024.10.0
idna==3.4
jellyfish==0.11.2
jiter==0.6.1
locket==1.0.0
numpy==1.26.0
packaging==23.2
pandas==2.1.0
partd==1.4.2
pathlib==1.0.1
pyproj==3.6.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.2
requests==2.31.0
shapely==2.0.1
six==1.16.0
soupsieve==2.5
toolz==1.0.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.5
us==3.1.1
zipp==3.21.0
flake8
pytest
